<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
%pip install randomuser

Collecting randomuser
  Downloading https://files.pythonhosted.org/packages/b3/98/6e2d0a77d8c420c0d9eba678868ff4978edfa0c78ae5a183efbf29819c5d/randomuser-1.6.tar.gz
Installing collected packages: randomuser
  Running setup.py install for randomuser: started
    Running setup.py install for randomuser: finished with status 'done'
Successfully installed randomuser-1.6
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 25.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [3]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [4]:
some_list = r.generate_users(10)

In [5]:
some_list

[<randomuser.RandomUser at 0x2a75f5965e0>,
 <randomuser.RandomUser at 0x2a75f5962e0>,
 <randomuser.RandomUser at 0x2a75f596460>,
 <randomuser.RandomUser at 0x2a75f5964c0>,
 <randomuser.RandomUser at 0x2a75f596310>,
 <randomuser.RandomUser at 0x2a75f596580>,
 <randomuser.RandomUser at 0x2a75f596550>,
 <randomuser.RandomUser at 0x2a75f5963d0>,
 <randomuser.RandomUser at 0x2a75f596430>,
 <randomuser.RandomUser at 0x2a75f5965b0>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [7]:
name = r.get_full_name()
name

'Elias Sakala'

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [8]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Jonas Andersen   jonas.andersen@example.com
Eeli Kyllonen   eeli.kyllonen@example.com
Millie Wright   millie.wright@example.com
Ashanti Wenting   ashanti.wenting@example.com
Aliya Eikeland   aliya.eikeland@example.com
Willard Coleman   willard.coleman@example.com
Daniel Sandli   daniel.sandli@example.com
Tom Steward   tom.steward@example.com
Samira Francois   samira.francois@example.com
Debora Robin   debora.robin@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [9]:
## Write your code here
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/men/58.jpg
https://randomuser.me/api/portraits/men/86.jpg
https://randomuser.me/api/portraits/women/91.jpg
https://randomuser.me/api/portraits/women/31.jpg
https://randomuser.me/api/portraits/women/74.jpg
https://randomuser.me/api/portraits/men/6.jpg
https://randomuser.me/api/portraits/men/29.jpg
https://randomuser.me/api/portraits/men/63.jpg
https://randomuser.me/api/portraits/women/20.jpg
https://randomuser.me/api/portraits/women/57.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [10]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [11]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,علیرضا پارسا,male,خمینی‌شهر,کرمان,aalyrd.prs@example.com,1986-10-25T13:27:03.773Z,https://randomuser.me/api/portraits/men/68.jpg
1,Madison Powell,female,Gladstone,Western Australia,madison.powell@example.com,1972-04-19T11:56:39.045Z,https://randomuser.me/api/portraits/women/86.jpg
2,Meral Bayındır,female,Mardin,Siirt,meral.bayindir@example.com,1947-08-04T18:06:54.238Z,https://randomuser.me/api/portraits/women/82.jpg
3,Sophia Schiffmann,female,Lassan,Bayern,sophia.schiffmann@example.com,1996-11-13T05:21:47.572Z,https://randomuser.me/api/portraits/women/12.jpg
4,Samuel Sanchez,male,Bilbao,Melilla,samuel.sanchez@example.com,1968-07-02T01:37:36.834Z,https://randomuser.me/api/portraits/men/17.jpg
5,Seyhan Duiveman,male,Kloosterzande,Flevoland,seyhan.duiveman@example.com,1961-06-06T04:25:12.099Z,https://randomuser.me/api/portraits/men/61.jpg
6,Orandino da Rocha,male,Osasco,Amapá,orandino.darocha@example.com,1980-05-10T15:08:35.135Z,https://randomuser.me/api/portraits/men/42.jpg
7,Enrique Jenkins,male,Jackson,Tennessee,enrique.jenkins@example.com,1990-12-02T11:19:45.022Z,https://randomuser.me/api/portraits/men/68.jpg
8,پوریا زارعی,male,مشهد,زنجان,pwry.zraay@example.com,1984-08-27T21:36:21.589Z,https://randomuser.me/api/portraits/men/78.jpg
9,Pamela Garcia,female,Townsville,South Australia,pamela.garcia@example.com,1987-02-25T11:07:09.206Z,https://randomuser.me/api/portraits/women/46.jpg

In [12]:
df1 = pd.DataFrame(get_users())

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [13]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [ ]:
data = requests.get("https://fruityvice.com/api/fruit/all")

'[{"name":"Persimmon","id":52,"family":"Ebenaceae","order":"Rosales","genus":"Diospyros","nutritions"'

We will retrieve results using `json.loads()` function.

In [17]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [ ]:
pd.DataFrame(results)

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [19]:
df2 = pd.json_normalize(results)

In [23]:
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [21]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [26]:
# Write your code here
banana = df2.loc[df2["name"] == 'Banana']
banana.iloc[0]['nutritions.calories']

96

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [31]:
# Write your code here
r=requests.get('https://official-joke-api.appspot.com/jokes/ten')
r.headers['content-type']
pd.DataFrame(r.json())

,type,setup,punchline,id
0,general,Why don't you find hippopotamuses hiding in tr...,They're really good at it.,180
1,general,What do you call a cow with two legs?,Lean beef.,196
2,general,What type of music do balloons hate?,Pop music!,261
3,general,Where was the Declaration of Independence signed?,At the bottom!,293
4,programming,There are 10 types of people in this world...,Those who understand binary and those who don't,28
5,programming,Why did the developer go broke buying Bitcoin?,He kept calling it bytecoin and didn't get any.,413
6,knock-knock,Knock knock. \n Who's there? \n Hatch. \n Hatc...,Bless you!,60
7,general,Why do trees seem suspicious on sunny days?,"Dunno, they're just a bit shady.",352
8,general,Why did the man run around his bed?,Because he was trying to catch up on his sleep!,329
9,general,Want to hear my pizza joke?,"Never mind, it's too cheesy.",152

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [32]:
# Write your code here
json.loads(r.text)

[{'type': 'general',
  'setup': "Why don't you find hippopotamuses hiding in trees?",
  'punchline': "They're really good at it.",
  'id': 180},
 {'type': 'general',
  'setup': 'What do you call a cow with two legs?',
  'punchline': 'Lean beef.',
  'id': 196},
 {'type': 'general',
  'setup': 'What type of music do balloons hate?',
  'punchline': 'Pop music!',
  'id': 261},
 {'type': 'general',
  'setup': 'Where was the Declaration of Independence signed?',
  'punchline': 'At the bottom! ',
  'id': 293},
 {'type': 'programming',
  'setup': 'There are 10 types of people in this world...',
  'punchline': "Those who understand binary and those who don't",
  'id': 28},
 {'type': 'programming',
  'setup': 'Why did the developer go broke buying Bitcoin?',
  'punchline': "He kept calling it bytecoin and didn't get any.",
  'id': 413},
 {'type': 'knock-knock',
  'setup': "Knock knock. \n Who's there? \n Hatch. \n Hatch who?",
  'punchline': 'Bless you!',
  'id': 60},
 {'type': 'general',
  'setup': 'Why do trees seem suspicious on sunny days?',
  'punchline': "Dunno, they're just a bit shady.",
  'id': 352},
 {'type': 'general',
  'setup': 'Why did the man run around his bed?',
  'punchline': 'Because he was trying to catch up on his sleep!',
  'id': 329},
 {'type': 'general',
  'setup': 'Want to hear my pizza joke?',
  'punchline': "Never mind, it's too cheesy.",
  'id': 152}]

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [38]:
# Write your code here
df=pd.DataFrame(json.loads(r.text))
df.drop(columns=['id','type'],inplace=True)
df

,setup,punchline
0,Why don't you find hippopotamuses hiding in tr...,They're really good at it.
1,What do you call a cow with two legs?,Lean beef.
2,What type of music do balloons hate?,Pop music!
3,Where was the Declaration of Independence signed?,At the bottom!
4,There are 10 types of people in this world...,Those who understand binary and those who don't
5,Why did the developer go broke buying Bitcoin?,He kept calling it bytecoin and didn't get any.
6,Knock knock. \n Who's there? \n Hatch. \n Hatc...,Bless you!
7,Why do trees seem suspicious on sunny days?,"Dunno, they're just a bit shady."
8,Why did the man run around his bed?,Because he was trying to catch up on his sleep!
9,Want to hear my pizza joke?,"Never mind, it's too cheesy."

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.